#pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: black;
}
#home, #p1, #p2, #p3, #p3, #p4, #p5, #p6, #cart {
    position: absolute;
    top: 0;
    left: 25%;
    width: 75%;
    height: 100%;
    overflow: auto;
}
#home {
    background-color: red;
    z-index: 1;
}
#p1 {
    background-color: green;
    z-index: 0;
}
#p2 {
    background-color: blue;
    z-index: 0;
}
#p3 {
    background-color: pink;
    z-index: 0;
}
#p4 {
    background-color: gray;
    z-index: 0;
}
#p5 {
    background-color: olivedrab;
    z-index: 0;
}
#p6 {
    background-color: gold;
    z-index: 0;
}
#cart {
    background-color: tomato;
    z-index: 0;
}