#pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: black;
}
#main {
    position: absolute;
    left: 25%;
    width: 75%;
    height: 100%;
    overflow: hidden;
}
#home, #ssgs8, #ip7, #ipse, #hp9, #np1, #cart {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}
#home {
    background-color: red;
}
#ssgs8 {
    background-color: green;
}
#ip7 {
    background-color: blue;
}
#ipse {
    background-color: pink;
}
#hp9 {
    background-color: gray;
}
#np1 {
    background-color: olivedrab;
}
#cart {
    background-color: tomato;
}
.front {
    z-index: 10;
    top: 0;
}
.back {
    z-index: 0;
    top: 100%;
}
.transition {
    transition: all 2s;
}
